<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/list-book">Book list</a>
</p>
<form th:action="@{/delete-book}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Book name:</td>
            <td th:text="${book.name}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img th:src="@{'/i/' + ${book.image}}" width="150px" height="150px"></td>
        </tr>
        <tr>
            <td>Release Year:</td>
            <td th:text="${book.releaseYear}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Book"></td>
        </tr>
    </table>
</form>
</body>
</html>